.container{
    background-color: blue;
    height: 100vh;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding-top: 10%;
}
.calcbody{
    background-color: yellow;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input{
    margin: 10px 10px 30px 10px;
    height: 50px;
    width: 91%;
    margin: 10px 10px 10% 10px;
    font-size: medium;

}

#link{
    display: flex;
    width:20rem;
    flex-direction: row;
    background-color: red;
    justify-content: right;
}

#link button{
    width: 70px;
    background-color: darkred;
}

#link a{
    text-decoration: none;
    color: white;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* background-color: red; */
    flex-direction: column;

}

.row{
    display: flex;
    padding: 0px 10px;
}

.btns button{
    color: white;
    background-color: black;
    min-width: 80px;
    min-height: 50px;
    font-size: medium;
}
#last{
    margin-bottom: 10px;
}
